### C++ template
# Prerequisites
*.d
Problems/*
# Compiled Object files
*.slo
*.lo
*.o
*.obj
out.csv
cmake-*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

